*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-image: url(./img/kelly-sikkema--1_RZL8BGBM-unsplash.jpg);
    background-size: cover;
}
.results{
color: black;

}
.text{
    width: 37%;
    padding: 1rem;
    border-radius: 10px;
}
h1{
    font-size: 3rem;
    color: chartreuse;
    transition: color 0.5s;
}
h1:hover{
    color: red;

}
.container{
    border: 2px solid red;
    border-radius: 15px;
    width: 50%;
    text-align: center;
    background-image: url(./img/universe-2742113_1920.jpg);
    background-size: cover;
    margin:auto;
    margin-top: 5rem;
}
.btn{
    padding: 1rem 0.8rem;
    background-color: cadetblue;
    border-radius: 10px;
    cursor: pointer;
    color: blue;
    font-size: 0.8rem;
}
.btn:active{
background-color: aqua;
color: red;
}
.result{
    display: flex;
    color: blanchedalmond;
    font-size: 2rem;
    justify-content:space-between;
    border: 2px solid red;
    line-height: 1rem;
    padding: 1rem 1rem;
    border-radius: 10px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    background-color: darkmagenta;
    cursor: pointer;
}
.check  p{
    text-decoration: line-through;
}