.result{
    background-color: white;
}
h1{
    color:black
}
body{
    background-color: aqua;
}
.text{
    width: 50%;
    padding: 1rem;
    font-size: 2rem;
}
.btn{
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    ba
}