*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-image: url(./img/kelly-sikkema--1_RZL8BGBM-unsplash.jpg);
    background-size: cover;
}
.results{
color: black;

}
.text{
    width: 55%;
    padding: 1.2rem  1rem ;
    border-radius: 10px;
    font-size: 2rem;
    margin-bottom: 0rem;
}
h1{
    font-size: 3rem;
    color: chartreuse;
    transition: color 0.5s;
}
h1:hover{
    color: red;

}
.container{
    border: 2px solid red;
    border-radius: 15px;
    width: 50%;
    text-align: center;
    background-image: url(./img/universe-2742113_1920.jpg);
    background-size: cover;
    margin:auto;
    margin-top: 5rem;
}
.btn{
    padding: 1.8rem 1.2rem;
    width: 8%;
    background-color: cadetblue;
    border-radius: 10px;
    cursor: pointer;
    color: blue;
    font-size: 1rem;
 
}
.btn:active{
background-color: aqua;
color: red;
}
.result{
    display: flex;
    color: blanchedalmond;
    font-size: 2rem;
    justify-content:space-between;
    border: 2px solid red;
    line-height: 1rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
    width: 60%;
    margin: 2rem auto;
    text-align: center;
    background-color: darkmagenta;
    cursor: pointer;
     animation: result 2s ease-in-out;
}
.result:hover {
    box-shadow: 1px 1px 7px 1px rgb(177, 94, 177);
}
@keyframes result{
    50%{
        transform: rotateX(90deg);
    }
    100%{
        transform: rotateX(90deg);
    }
}
.check  p{
    text-decoration: line-through;
}
.inputs{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;

}